body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html { 
  background: url(../src/images/background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}





/* NAVBAR */
.Navbar .brand-logo{
  padding-left: 30px !important;
}





/* HOME */
.Home {
  color: white;
}

.Home .wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.Home .flex-container{
  display: flex;
}

.Home .box{
  height: 100%;
  min-width: 100px;
  width: 50%;
  margin: 1%;
  text-align: center;
  flex-grow: 1;
}

.Home h3{
  color: #ff1744;
}





/* NewsItem and Upcoming Event list display*/
.card{
  background-color: rgb(0,0,0, 0.6);
  color: white;
}

.card-image{
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  background-position: 50% 50%;
  background-size: cover;
}

img{
  width: 100%;
  height: 100%;
}





/* AUTH */
.Auth {
  height: 100%;
}

.Auth .signin-form{
  padding: 8%
}

.Auth .input-field{
  margin: 5%;
}

.Auth input:focus{
  color: #ff1744 !important;
  border-bottom: 1px solid #ff1744 !important;
  box-shadow: 0 1px 0 0 #ff1744 !important;
  font-size: 35px;
}

.Auth input{
  color: #ff1744 !important;
}

.Auth .wrapper{
  width: 100%;
  height: 80%;
  margin: 0 auto;
}

.Auth .form-container{
  display: flex;
  height: 80%;
}

.Auth h3{
  text-align: center;
  color: white;
  padding-top: 2%;
}

.Auth form{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.Auth label{
  color: white;
  font-size: 20px;
}

.Auth .btn-large {
  background: transparent;
  color: white;
  font-size: 40px;
  text-transform: capitalize;
}

.Auth .btn-large:hover{
  background-color: #ff1744;
  color: white;
}

.Auth .signin-form .signup-block{
  color: white;
  display: flex;
  align-items: center;
  font-size: 20;
  margin-left: 5%;
}

.Auth .signin-form .center{
  padding: 5%;
}

.Auth .btn {
  background: transparent;
  color: white;
  text-transform: capitalize;
  padding-left: 8px;
  padding-right: 8px;  
}

.Auth .btn:hover{
  background-color: #ff1744;
  color: white;
}

.Auth .box{
  min-width: 100px;
  flex-grow: 1;
  margin: 1% 10%;
  background-color: rgb(0,0,0, 0.6);
}

.Auth .error-container{
  display: flex;
  justify-content: center;
}

.Auth .auth-error{
  background-color: #ff1744;
  color: white;
  text-align: center;
  font-size: 40px;
  width: 50%;
  padding: 2%;
}

.Forum{  
  display: flex;
  align-items: center;
  justify-content: center;
}

.Forum h1{
  text-align: center;
  color: #ff1744;
}